// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 www.veye.cc
 *
 */

&rkcif {
	status = "okay";
//	memory-region = <&cif_reserved>;
};

&rkcif_mipi_lvds_sditf {
	status = "disabled";

};
&rkcif_mmu {
	status = "okay";
};

