// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 www.veye.cc
 *
 */
 
&csi2_dphy0 {
    status = "okay";

    ports {
        #address-cells = <1>;
        #size-cells = <0>;
        port@0 {
            reg = <0>;
            endpoint {
                remote-endpoint = <&dummy_endpoint>; // Add a placeholder
                data-lanes = <1 2 3 4>;
            };
        };
    };
};

&dummy_endpoint {
    status = "disabled"; // Dummy node to avoid breaking kernel parsing
};
